.add-recipe-container {
  margin-bottom: 25px;
  position: relative;
  text-align: right;
  width: 100%;
}

.add-recipe-box {
  text-align: left;

  label {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    min-width: 110px;
    text-align: right;
    vertical-align: top;
  }

  input {
    margin-bottom: 10px;
  }

  textarea {
    height: 80px;
  }

  .left-form {
    display: inline-block;
  };

  .right-form {
    display: inline-block;
    vertical-align: top;
  }
}

.buttons {
  display: block;
  text-align: center;
  button {
    &:first-child {
      margin-right: 15px;
    }
  }
}

%floating-button {
  position: absolute;
  right: 0;
  top: -55px;
}

.toggle-add-button {
  @extend %floating-button;
}

.reset-app-button {
  @extend %floating-button;
  background-color: $black;
  color: $red;
  top: -100px;
}

.add-button {
  background-color: $green;
}

.cancel-button {
  background-color: $light-grey;
}
