@import './_variables';
@import './add-recipe';
@import './ingredient-list';
@import './recipe-list-item';
@import './recipe-list';

body {
  background: $background-color;
  color: $white;
  font-family: $fonts;
  font-weight: 300;
}

h2 {
  margin: 0;
}

button {
  background-color: $white;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 2px 5px $grey;
  font-weight: bold;
  padding: 8px;
}

.container {
  padding: 50px 15px;
}

.content {
  margin: 0 auto;
  max-width: 800px;
}

.flexbox {
  display: flex;
}

.content-box {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 2px 8px $black;
  color: $black;
  padding: 25px;
}
