@import './_variables';
@import './ingredient-list';
@import './recipe-list-item';
@import './recipe-list';

body {
  background: $background-color;
  color: $white;
  font-family: $fonts;
  font-weight: 300;
}

.container {
  padding: 50px 15px;
}

.content {
  margin: 0 auto;
  max-width: 80%;
}

.flexbox {
  display: flex;
}

.content-box {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 2px 8px $black;
  color: $black;
  padding: 25px;
}
