.recipe {
  margin-bottom: 25px;
  max-width: 500px;
}

.recipe-info {
  font-size: small;
  font-style: italic;
}

.recipe-ingredients {
  margin-top: 15px;
}

.delete-button {
  background-color: $red;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 2px 5px $grey;
  color: $white;
  float: right;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
}
